@import "tailwindcss";

.button {
  @apply focus:outline-2 focus:outline-offset-1 outline-black font-bold py-2 px-4 rounded cursor-pointer;
}

.button-origin {
  @apply bg-orange-500 hover:bg-orange-400 active:bg-orange-600 text-white;
}

.button-destination {
  @apply bg-blue-500 hover:bg-blue-400 active:bg-blue-600 text-white;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px 30px 15px 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  @apply text-orange-500 focus:outline-2 focus:outline-offset-1 outline-black rounded cursor-pointer absolute top-0.5 right-2;
}

.origin {
  @apply bg-orange-500 border-2 border-orange-500 rounded-full w-5 h-5;
}

.destination {
  @apply bg-blue-500 border-2 border-blue-500 rounded-full w-5 h-5;
}

.origin::before,
.destination::before {
  @apply rounded-full;

  background: none;
  border: 2px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  pointer-events: none;
}
