name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_front:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: front

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
        cache-dependency-path: front/package-lock.json
    - run: npm ci
    - run: npm run lint
    - run: npm run type-check
    - run: npm run build
