name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js version 24
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'npm'
    - run: npm run lint
    - run: npm run type-check
    - run: npm run build
    
